.cardFormDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: auto;
  display: flex;
  /* top | right | bottom | left */
  padding: 5rem 7rem 0 0;
  flex-direction: column;
  gap: 1.5em;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.field-container {
  display: flex;
  gap: 1em;
  width: 80%;
  height: auto;
}

.field-container > .field > div > input {
  width: 4rem;
}

#month,
#year {
  width: 3rem;
}

.fieldCardCvc {
  width: 100% !important;
}

.cardFormDiv label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: var(--Verdarviolet);
}

.field-container > .field > div {
  display: flex;
  width: auto;
  height: auto;
  gap: 1em;
}

.cardFormDiv input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--Lighgrayishviolet);
  transition: border-color 0.6s ease-in-out;
}

.cardFormDiv input[type="text"]:focus {
  outline: none;
  border-color: var(--Dargrayisviolet);
}

.cardFormDiv input[type="number"] {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--Lighgrayishviolet);
  transition: border-color 0.6s ease-in-out;
}

.cardFormDiv input[type="number"]:focus {
  outline: none;
  border-color: var(--Dargrayisviolet);
}

/* SUBMIT BUTTON CSS */
#submitBtn {
  background: var(--Verdarviolet);
  border: none;
  color: var(--White);
  padding: 0.8rem;
  border-radius: 5px;
}

.error {
  height: 0px !important;
  font-size: 0.7rem;
  transform: translateY(-2px);
  margin: 0;
  transition: height 2s ease-in-out;
  color: var(--Red);
}

@media screen and (max-width: 750px) {
  form {
    padding: 0;
  }
}
