.cardDiv {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cardFrontDiv,
.cardBackDiv {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24rem;
  height: 13rem;
  border-radius: 10px;
}

.cardFrontDiv {
  background-image: url("/assets/bg-card-front.png");
  margin-top: 5rem;
}

.cardBackDiv {
  background-image: url("/assets/bg-card-back.png");
  margin-left: 150px;
}

@media screen and (max-width: 750px) {
  .cardDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cardFrontDiv,
  .cardBackDiv {
    height: 11.3rem;
    width: 19rem;
    background-size: cover;
  }

  .cardFrontDiv {
    margin-top: -7.35rem;
    margin-right: 3.2rem;
  }
  .cardBackDiv {
    margin-left: 3.2rem;
    margin-top: 2rem;
  }
}
