.cardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cardFrontDiv,
.cardBackDiv {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24rem;
  height: 13rem;
  border-radius: 10px;
  color: var(--White);
}

.cardFrontDiv {
  background-image: url("/assets/bg-card-front.png");
  margin-top: 5rem;
}

.cardFrontDiv > img {
  width: 4rem;
  padding: 1.5rem;
}

.cardFrontDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardFrontDiv > .cardNoDiv {
  font-size: 1.3rem;
  letter-spacing: 5px;
  display: grid;
  place-items: center;
  /* position: relative;
  left: 2rem; */
}

.cardFrontDiv > .nameMonthYearDiv {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
  /* margin-right: 2.3rem; */
}

.cardFrontDiv > .nameMonthYearDiv > .holderName {
  margin-left: 0.6rem;
}

.cardFrontDiv > .nameMonthYearDiv > .monthYear {
  margin-right: 1.1rem;
}

.cardBackDiv {
  background-image: url("/assets/bg-card-back.png");
  margin-left: 150px;
  display: grid;
  align-items: center;
  grid-template-columns: 78% auto;
}

.cardBackDiv > .cvv {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 750px) {
  .cardDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cardFrontDiv,
  .cardBackDiv {
    height: 11rem;
    width: 19rem;
    background-size: cover;
  }

  .cardFrontDiv {
    margin-top: -7.33rem;
    margin-right: 3.2rem;
  }

  .cardFrontDiv > .cardNoDiv {
    font-size: 0.9rem;
  }

  .cardFrontDiv > .nameMonthYearDiv {
    font-size: 0.7rem;
  }

  .cardFrontDiv > .nameMonthYearDiv > .holderName {
    margin-left: 0.3rem;
  }

  .cardFrontDiv > .nameMonthYearDiv > .monthYear {
    margin-right: 0.8rem;
  }

  .cardBackDiv {
    margin-left: 3.2rem;
    margin-top: 2rem;
    grid-template-columns: 80% auto;
  }
}
